<div *ngIf="isLoading" style="width: 100%;">
  <md-spinner style="margin: 0 auto;" color="accent"></md-spinner>
  <p class="mat-typography" style="width: 100%; text-align: center">Loading</p>
</div>


<div *ngIf="!isLoading" (swipeleft)="onSwipeLeft()" style="height: 100%;" [@fadeInAnimation]>
  <div *ngIf="loadFail">
    <md-card color="warn">
      <md-card-title>Uh oh!</md-card-title>
      <md-card-subtitle>Something went wrong</md-card-subtitle>
      <md-card-content>
        <p>
          We couldn't fetch the weather for the location you specified.<br/> Please try again later!
        </p>
      </md-card-content>
      <md-card-actions>
        <button (click)="retryGetWeather()" md-raised-button color="primary">
          <md-icon class="rm">refresh</md-icon>RETRY
        </button>
        <button md-button color="warn" (click)="triggerDelete()">DELETE</button>
      </md-card-actions>
    </md-card>
  </div>


  <div *ngIf="!loadFail && cw && currentCity" [@fadeInAnimation] style="height: 100%;">
    <!--Success-->
    <md-card class="example-card">
      <md-card-header>
        <div style="width: 100%;">
          <div md-card-avatar>
            <i id="current_weather_avatar" class="wi wi-avatar"></i>
          </div>
          <div style="float:right;" class="weather-head-text">
            <md-card-title class="weather-head">
              <span *ngIf="config.measurementStr === 'METRIC'">
                  {{cw.main.temp | kToC}}{{config.tempUnit}}
              </span>
              <span *ngIf="config.measurementStr === 'IMPERIAL'">
                  {{cw.main.temp | kToC | cToF}}{{config.tempUnit}}
              </span>
            </md-card-title>
            <md-card-subtitle class="weather-subhead">{{cw.weather[0].main}}</md-card-subtitle>
          </div>
        </div>
      </md-card-header>
      <md-card-content>
        <md-list>
          <md-list-item>
            <div style="width: 100%">
              <div class="det-name">
                {{currentCity.name}}
              </div>
              <div class="det-val">
                {{cw.name}}
              </div>
            </div>
          </md-list-item>
          <md-list-item>
            <div style="width: 100%" *ngIf="cw.main.humidity">
              <div class="det-name">
                Humidity
              </div>
              <div class="det-val">
                {{cw.main.humidity}} %
              </div>
            </div>
          </md-list-item>
          <md-list-item>
            <div style="width: 100%" *ngIf="cw.main.pressure">
              <div class="det-name">
                Pressure
              </div>
              <div class="det-val">
                <span *ngIf="config.measurementStr === 'METRIC'">
                    {{cw.main.pressure}}
                </span>
                <span *ngIf="config.measurementStr === 'IMPERIAL'">
                    {{cw.main.pressure | hpaToPsi}}
                </span> {{config.pressureUnit}}
              </div>
            </div>
          </md-list-item>
          <md-list-item>
            <div style="width: 100%" *ngIf="cw.wind.speed || cw.wind.deg">
              <div class="det-name">
                Wind
              </div>
              <div class="det-val">
                <span *ngIf="cw.wind.speed">
                  <span *ngIf="config.measurementStr === 'METRIC'">
                    {{cw.wind.speed | mpsToKph}}
                  </span>

                <span *ngIf="config.measurementStr === 'IMPERIAL'">
                      {{cw.wind.speed | mpsToKph | kphToMph}}
                  </span> {{config.speedUnit}}

                </span>
                <div class="det-val wind-dir-wrp">
                  <span *ngIf="cw.wind.deg">
                    <i id="wind-dir-icon" class="wi wi-wind"></i>
                  </span>
                </div>
              </div>
            </div>
          </md-list-item>
          <md-list-item>
            <div style="width: 100%" *ngIf="cw.visibility">
              <div class="det-name">
                Visibility
              </div>
              <div class="det-val">
                <span *ngIf="config.measurementStr === 'METRIC'">
                  {{cw.visibility | mToKm}}
                </span>
                <span *ngIf="config.measurementStr === 'IMPERIAL'">
                  {{cw.visibility | mToKm | kmToMi}}
                </span> {{config.distanceUnit}}
              </div>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-card-actions>
        <button md-button color="warn" (click)="triggerDelete()">DELETE</button>
        <button md-button color="primary" (click)="changeUnits()">
          <span *ngIf="config.measurementStr === 'METRIC'">
            IN IMPERIAL
          </span>
          <span *ngIf="config.measurementStr === 'IMPERIAL'">
            IN METRIC
          </span>
        </button>
      </md-card-actions>
    </md-card>
  </div>

</div>