.wi-avatar {
    font-size: 4em;
}

.weather-head{
    margin-top: -46px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0px;
}

.weather-subhead{
    padding-top: 5px;
    font-size: 20px;
}

.det-name {
    float: left;
}

.det-val {
    float: right;
    text-align: right;
}

.wind-dir-wrp {
    font-size: 27px;
    margin-top: -5px;
    margin-left: 5px;
}