<md-card class="example-card" [@fadeInAnimation]>
  <md-card-header>
    <div md-card-avatar class="about-header-image"></div>
    <md-card-title><h1 style="margin: 0;">Weather {{VERSION}}</h1></md-card-title>
    <md-card-subtitle>
      Made with 
      <md-icon style="font-size: 14px; width: 14px;">favorite</md-icon> 
      by  
      <a href="https://zyxon.github.io">zyxon</a>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p style="text-align: justify;">
      Weather is an application that lets you track the weather in your favorite locations. Swipe left on the 
      weather screen to see a 5 day forecast for the selected location. You can toggle displaying data in metric
      and imperial formats using the button on the bottom of the weather page.
    </p>
    <h3>Used technologies</h3>
    <md-list>
      <md-list-item>
        Angular v4.4.1
      </md-list-item>
      <md-list-item>
        Angular Material v2.0.0-beta.10
      </md-list-item>
      <md-list-item>
        Typescript v2.4.2
      </md-list-item>
      <md-list-item>
        Hammerjs v2.0.8
      </md-list-item>
      <md-list-item>
        Weather Icons v2.0.10
      </md-list-item>
      <md-list-item>
        Google Material Icons v3.0.1
      </md-list-item>
      <md-list-item>
        OpenWeatherMap API v2.5
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>