.about-header-image {
    background-image: url('../../assets/weather_logo_small.png');
    background-size: cover;
    border-radius: 0px !important;
    margin-right: 15px;
    height: 48px !important;
    width: 45px !important;
  }