.example-container {
    height: 100vh;
}
  
.example-sidenav-content {
    /*display: flex;*/
    height: 100%;
    width: 50vw;
    overflow: none;
  }

md-toolbar {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 100;
}
  