<md-toolbar color="primary">
  <md-icon (click)="sidenav.toggle()" style="margin-right: 1em;">menu</md-icon>
  Weather
</md-toolbar>

<md-sidenav-container class="example-container" style="padding-top: 56px;">
  <md-sidenav #sidenav mode="push" class="example-sidenav-content" style="padding-top: 56px;">
    <div>
      <md-list>
        <md-list-item>
          <md-icon class="rm">
            location_city
          </md-icon>
          Cities
        </md-list-item>
      </md-list>
    </div>
    <md-nav-list>
      <md-list-item *ngIf="_cities && _cities.length === 0" [routerLink]="['/new-city']" (click)="sidenav.close()">
        <md-icon class="rm">add</md-icon>
        Add a city
      </md-list-item>
      <md-list-item *ngFor="let city of _cities" (click)="selectCity(city); sidenav.close()">
        <a>
          {{city.name}}
        </a>
      </md-list-item>
      <md-list-item [routerLink]="['/about']" (click)="sidenav.close()">
        <md-icon class="rm">info_outline</md-icon>
        <a>About</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <router-outlet></router-outlet>

  <md-card color="warn" *ngIf="getRouter().url === '/'" [@fadeInAnimation]>
    <md-card-title>Welcome to Weather!</md-card-title>
    <md-card-subtitle>
      This application lets you track weather information for cities you provide
    </md-card-subtitle>
    <md-card-content>
      <p>
        To see weather information for a city select the city you have added from the menu on the left. <br> To add a city
        to your list of tracked cities click the FAB (Floating action button) below.
      </p>
    </md-card-content>

  </md-card>
</md-sidenav-container>

<div class="myfab">
  <button (click)="sidenav.close();" md-fab color="primary" [@fabState]="fabState" [routerLink]="['/new-city']">
      <md-icon [@fabIconState]="fabState" class="md-24">add</md-icon>
    </button>
</div>