<div (swiperight)="onSwipeRight()" style="height: 100vh;">
  <div *ngIf="isLoading" style="width: 100%;">
    <md-spinner style="margin: 0 auto;" color="accent"></md-spinner>
    <p class="mat-typography" style="width: 100%; text-align: center">Loading</p>
  </div>


  <div *ngIf="!isLoading" [@fadeInAnimation]>
    <div *ngIf="loadFail">
      <md-card color="warn">
        <md-card-title>Uh oh!</md-card-title>
        <md-card-subtitle>Something went wrong</md-card-subtitle>
        <md-card-content>
          <p>
            We couldn't fetch the forecast for the location you specified.<br/> Please try again later!
          </p>
        </md-card-content>
        <md-card-actions>
          <button (click)="retryGetForecast()" md-raised-button color="primary">
            <md-icon class="rm">refresh</md-icon>RETRY
          </button>
        </md-card-actions>
      </md-card>
    </div>

    <div *ngIf="!loadFail" [@fadeInAnimation]>
      <md-card color="warn">
        <md-card-title>{{currentCity.name}}</md-card-title>
        <md-card-subtitle>Forecast for the next 5 days, in your local time zone</md-card-subtitle>
        <md-card-content>
          <md-list class="mat-typography">
            <md-list-item *ngFor="let li of cf.list; let i = index;">
              <div style="width: 100%;">
                <div class="det-name">
                  <span style="font-weight: 600;">{{li.dt_txt | shortDatetime}}</span>
                </div>
                <div class="det-val" style="margin-left: 10px;">
                  <i class="wi wi-fw" id="wicon-{{i}}"></i>
                </div>
                <div class="det-val">
                  <span *ngIf="config.measurementStr === 'METRIC'">
                      {{li.main.temp | kToC }}
                  </span>
                  <span *ngIf="config.measurementStr === 'IMPERIAL'">
                      {{li.main.temp | kToC | cToF }}
                  </span>
                  {{config.tempUnit}}
                </div>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>