<md-card color="warn" [@fadeInAnimation]>
  <md-card-title>New City</md-card-title>
  <md-card-subtitle>Add a new city to your watched locations</md-card-subtitle>
  <form id="new_city_form" [formGroup]="addForm" (ngSubmit)="submitNewCity()">
    <md-card-content>

      <md-form-field style="margin-bottom: 10px;">
        <input autocomplete="off" #name name="name-in" formControlName="name-in" required mdInput type="text" placeholder="City name" [(ngModel)]="cityTBA.name">
        <md-hint align="start">Human readable city name</md-hint>
      </md-form-field>
      <md-form-field>
        <input autocomplete="off" maxlength="2" #cCode name="cc-in" formControlName="cc-in" required mdInput type="text" placeholder="Country code"
          [(ngModel)]="cityTBA.countryCode" (keyup.enter)="dbg()">
        <md-hint align="start">Two-letter country codes only</md-hint>
        <md-hint align="end" color="warn">{{cityTBA.countryCode.length}}/2</md-hint>
      </md-form-field>

    </md-card-content>
    <md-card-actions>
      <md-grid-list cols="3" rowHeight="30px">
        <md-grid-tile>
        </md-grid-tile>
        <md-grid-tile>
        </md-grid-tile>
        <md-grid-tile>
          <button [disabled]="!addForm.valid" type="submit" md-raised-button color="primary">ADD</button>
        </md-grid-tile>
      </md-grid-list>
    </md-card-actions>
  </form>
</md-card>