/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px 0px 0px 0px;
}

.rm {
    margin-right: 10px;
}
.myfab {
    top: auto !important;
    right: 20px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;
}

.mat-card {
    box-shadow: none !important;
}

.mat-drawer-container {
    background-color: white !important;
}

* {
    overflow: none !important;
}